@{
    ViewData["Title"] = "Admin Dashboard";
    // Đảm bảo file này dùng Layout của Admin
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!--VIẾT CÁI ĐÉO GÌ CŨNG ĐƯỢC-->
<h1>Chào mừng đến trang Quản Trị Viên</h1>
<p>Đây là nơi thống kê hệ thống.</p>